# 0. IMPORTS

## 0.1 HELPER FUNCTIONS

In [1]:
import pandas as pd
import inflection

## 0.2 LOADING DATA

In [2]:
# Load sales dataframe
df_sales_raw = pd.read_csv('data/train.csv', low_memory=False)

# Load some store information
df_stores_raw = pd.read_csv('data/store.csv', low_memory=False)

# Merge dataframes to increase store information
df_raw = pd.merge(df_sales_raw, df_stores_raw, how='left', on='Store')
df_raw.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

# 1. DATA DESCRIPTION

In [3]:
# Make a dataframe copy
df1 = df_raw.copy()

## 1.1 Rename Columns

In [4]:
# Saving columns name to a new variable
cols_name = df1.columns.to_list()

# Create a lambda function to pass columns name to snake case
transform_snake_case = lambda x: inflection.underscore(x)

# Apply function and save new names on another variable
cols_name_new = list(map(transform_snake_case, cols_name))

# Renaming the columns
df1.columns = cols_name_new

## 1.2 Data Dimensions

In [5]:
print(f'The dataset have {df1.shape[0]} rows and {df1.shape[1]} columns')

The dataset have 1017209 rows and 18 columns

## 1.3 Data Types

In [7]:
# Change date format to datetime (it comes as string)
df1['date'] = pd.to_datetime(df1['date'])
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 1.4 Check NA's

In [10]:
# Null data per column
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64